.woocommerce-orders-table__cell-order-actions a:not(:last-child) {
    margin-right: 4px;
}

@media (max-width: 767px) {
    .md-hidden {
        display: block !important;
    }

    .woocommerce.woocommerce .woocommerce-info .button {
        margin-top: 1em;
    }
}

@media (min-width: 768px) {
    .md-hidden {
        display: none !important;
    }

    .md-block {
        display: block !important;
    }
}