.woocommerce div.product .product_title {
    color: #000;
}

.product-nav-tabs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 16px;
    margin-top: 1em;
    border-top: 1px solid #ddd;
    margin-bottom: 40px;
}

.product-nav-tabs a {
    text-transform: uppercase;
}

.product-nav-tabs .button {
    font-family: var(--global-heading-font-family);
    padding-top: 7px;
}

.product-nav-tabs-left {
    display: flex;
    gap: 55px;
    display: none;
}

.product-nav-tabs a {
    position: relative;
}

.product-nav-tabs a::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    background: transparent;
    position: absolute;
    top: -16px;
    left: 0px;
}

.product-nav-tabs a.active::before {
    background: #2F2F2F;
}

.single-product .product-nav-tabs-left .button {
    background-color: transparent !important;
    color: #000;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
}

.product-nav-content .product-nav-content-item {
    display: none;
}

.product-nav-content .product-nav-content-item.active {
    display: block;
}

.product-overview {
    font-size: 1em;
    line-height: 2;
}

.single-product-wrap {
    position: relative;
}

.blurred.alignfull {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
    z-index: 9;
    padding: 40px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
}

.blurred-box {
    padding: 20px;
    height: auto;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
    max-width: 620px;
    margin: 10% auto auto;
    font-size: 12px;
}

.blurred-box h3 {
    text-transform: uppercase;
}

.nova_product_specs_group h2 {
    margin-bottom: 40px;
}

.spec-item {
    display: grid;
    grid-template-columns: 18vw 1fr;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #dedede;
}

.spec-label {
    font-family: var(--global-heading-font-family);
    text-transform: uppercase;
}

.spec-value {
    font-size: 14px;
}

.spec-group {
    margin-bottom: 80px;
}

.spec-group .spec-item:last-child {
    border-bottom: 1px solid #dedede;
}

.img-wrap {
    height: 55px;
}

.faq-item .post-content-container {
    display: none;
    font-size: 16px;
}

p.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-family: var(--global-heading-font-family);
}

.faq-item {
    padding: 20px 2em;
    border-bottom: 1px solid #d2d2d2;
}

.faq-item:first-of-type {
    border-top: 1px solid #d2d2d2;
}

p.faq-question.active svg line:first-child {
    opacity: 0;
}

.expander.expanded .post-content-container {
    display: block;
}

.product-nav-tabs-mobile {
    display: block;
}

.product-nav-tabs-mobile {
    flex: 1;
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid #d2d2d2;
    text-transform: uppercase;
    margin-right: 2em;
    letter-spacing: 1px;
    height: 35px;
}

.product-nav-tabs-mobile.show {
    height: auto;
}

.product-nav-tabs-mobile [data-menu] {
    display: none;
}

.product-nav-tabs-mobile.show [data-menu] {
    display: block;
}

.product-nav-tabs-mobile h6 {
    margin: 0 !important;
}

.product-nav-tabs-mobile #current {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-nav-tabs-mobile [data-menu].selected {
    display: none;
}

#sampleBoard {
    display: block;
}

#sampleBoard .summary {
    float: none;
    width: 100%;
    padding: 25px;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content;
    margin-top: 0;
}

#sampleBoard .price {
    margin-top: 0;
    font-family: var(--global-heading-font-family);
    text-align: right;
    font-size: 16px;
}

#sampleBoard .woocommerce-product-details__short-description,
#sampleBoard form.cart {
    grid-column: span 2;
}

#sampleBoard .entry-title {
    font-size: 16px;
    letter-spacing: 1.6px;
}

#sampleBoard .woocommerce-product-gallery {
    float: none;
    width: 100%;
}

#galleryMain {
    max-width: 680px;
    max-height: 680px;
    position: relative;
    overflow: clip;
}

#galleryNav {
    position: absolute;
    top: 0;
    left: 0;
}

.main-gallery-image {
    margin-left: calc(50% - (100vw/2));
    margin-right: calc(50% - (100vw/2));
    max-width: 100vw;
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
    clear: both
}

#galleryNav .nav-gallery-item img,
#galleryMain .hineon-product-gallery__image img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

#galleryNav .nav-gallery-item {
    border: 0;
    opacity: .65
}

#galleryNav .nav-gallery-item.is-active {
    opacity: 1
}

#sampleBoard .single_add_to_cart_button {
    width: 100%;
    float: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard syntax */
}

#sampleBoard form.cart div.quantity {
    float: none;
    margin: 0;
}

.quantity-change {
    display: flex;
    align-items: center;
}

#sampleBoard .quantity-change .quantity .qty {
    border: 0;
    width: 35px;
    font-family: var(--global-heading-font-family);
    font-weight: 14px;
}

#sampleBoard input[type=number] {
    -moz-appearance: textfield;
}

#sampleBoard input::-webkit-outer-spin-button,
#sampleBoard input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cursor-pointer svg {
    pointer-events: none;
}

.p-dropdown-wrap .p-dropdown {
    height: 55px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding: 10px;
    font-family: var(--global-heading-font-family);
    text-transform: uppercase;
    flex: 1;
}

div#productCat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#productCurrent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    line-height: 0;
}

.p-dropdown-current,
.p-dropdown-current>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.p-dropdown-current>div {
    line-height: 1;
    justify-content: flex-start;
}

. div#productCurrent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    line-height: 0;
}

@media (min-width: 768px) {
    .main-gallery-image {
        width: calc(100% - 80px);
        margin-left: auto;
        margin-right: 0;
        max-width: 100%
    }

    .nav-gallery {
        width: 110px;
        height: 100%;
        display: block
    }

    .woocommerce-product-gallery {
        position: relative;
        display: flex;
        flex-direction: row-reverse
    }

    .product-nav-tabs-left {
        display: flex;
    }

    .product-nav-tabs-mobile {
        display: none;
    }

    .product-nav-tabs {
        align-items: center;
    }

    #sampleBoard .summary {
        width: 33%;
    }

    #sampleBoard .woocommerce-product-gallery {
        float: none;
        flex: 1;
        width: auto;
    }

    #sampleBoard {
        display: flex;
        gap: 50px;
    }
}