.woocommerce-form-coupon-toggle {
    display: none;
}

.woocommerce-cart-form .cart_item {
    padding: 20px;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    margin-bottom: 24px;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.woocommerce-cart-form .cart_item strong {
    font-family: var(--global-heading-font-family);
    font-weight: 400;
}

.flex-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-line>.view-remove {
    display: flex;
    align-items: center;
}

.woocommerce .nova_product_item a.remove {
    display: block;
    font-size: 18px;
    height: 13px;
    width: 11px;
    text-align: center;
    line-height: 13px;
    border-radius: 100%;
    color: red !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    font-family: system-ui;
}

.woocommerce .nova_product_item a.remove:hover {
    color: #000 !important;
    background: transparent !important;
    text-decoration: none;
}

.nova_product_item .nova-product-details {
    margin-right: 1em;
}

.nova-woo-cart-form-wrap .product-subtotal strong {
    font-size: 16px;
    letter-spacing: 1.6px;
}

/* Chrome, Safari, Edge, Opera */
.flex-line input::-webkit-outer-spin-button,
.flex-line input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.flex-line input[type=number] {
    -moz-appearance: textfield;
}

.quantity-change {
    display: flex;
    align-items: center;
}

.woocommerce .quantity-change .quantity .qty {
    border: 0;
    width: 35px;
    font-family: var(--global-heading-font-family);
    font-weight: 14px;
}

.cursor-pointer svg {
    pointer-events: none;
}

.nova-woo-cart-form-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 2em;
}

.nova-woo-cart-form-wrap form.woocommerce-cart-form {
    max-width: 580px;
    width: 100%;
    flex: 1;
}

.nova-woo-cart-form-wrap .cart-collaterals {
    max-width: 554px;
    width: 100%;
    flex: 1;
}

.nova-woo-cart-form-wrap .product-thumbnail img {
    width: 90px;
}

.sample-product-details {
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-gap: 1em;
}

.sample-board-item .product-name a {
    font-size: 14px;
    font-family: var(--global-heading-font-family);
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #2F2F2F;
}

@media (max-width: 767px) {
    .nova-woo-cart-form-wrap {
        display: block;
    }

    .nova-woo-cart-form-wrap form.woocommerce-cart-form {
        max-width: 100%;
        width: 100%;
        flex: 0;
    }

    .nova-woo-cart-form-wrap .cart-collaterals {
        max-width: 100%;
        width: 100%;
        flex: 0;
    }
}

.cart-collaterals .cart_totals h2 {
    text-transform: uppercase;
}

.woocommerce a.button.alt.checkout-button {
    background-color: #000;
    color: #fff;
}

.cart-summary h2 {
    margin-bottom: 16px !important;
}

.woocommerce-shipping-totals.shipping th {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400 !important;
    font-family: var(--global-heading-font-family);
    letter-spacing: 1.8px;
}

.woocommerce-shipping-totals.shipping td {
    text-align: right;
}

.woocommerce-checkout-review-order-table .woocommerce-shipping-totals.shipping th,
.woocommerce-checkout-review-order-table .woocommerce-shipping-totals.shipping td {
    padding: 2rem 1rem;
}

.woocommerce .woocommerce-checkout-review-order-table ul#shipping_method li {
    justify-content: flex-end;
}

.woocommerce-checkout-review-order {
    border-top: 1px solid #D2D2D2;
}

.site form.checkout #order_review_heading {
    margin-bottom: 2.5rem;
}

.site .woocommerce ul.order_details li {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
    font-size: 16px;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: baseline;
    padding-top: .25em;
    padding-bottom: .25em;
}

.woocommerce-checkout label {
    text-transform: uppercase;
    font-family: var(--global-heading-font-family);
    letter-spacing: 1.6px;
    font-weight: 400 !important;
}

.site .woocommerce ul.woocommerce-order-overview.woocommerce-thankyou-order-details {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
}

.woocommerce ul.order_details li span {
    text-transform: none;
}

.woocommerce-thankyou-order-details~p {
    display: none;
}

.product-features-icons img {
    margin: auto;
}

.img-wrap {
    height: 55px;
    display: block;
}

.woocommerce table.shop_table tfoot tr.order-detail th,
.woocommerce table.shop_table tfoot tr.order-detail td {
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.order-detail th,
.order-detail thead {
    text-transform: uppercase;
    font-weight: 400 !important;
    font-family: var(--global-heading-font-family);
}

.detail-cart_subtotal th {
    letter-spacing: 2.4px;
}

.detail-order_total th {
    letter-spacing: 3px;
}

.detail-order_total th,
.detail-order_total td {
    font-size: 30px;
    font-family: var(--global-heading-font-family);
    font-weight: 400 !important;
}

.detail-cart_subtotal th,
.detail-cart_subtotal td {
    font-size: 24px;
    font-family: var(--global-heading-font-family) !important;
    font-weight: 400 !important;
}

.sample-board-detail a {
    color: #2F2F2F;
}

.woocommerce-table--order-details.shop_table.order_details {
    border-top: 1px solid var(--global-gray-400);
    margin-top: 20px;
}

.woocommerce-table--order-details tfoot tr td {
    font-family: var(--global-heading-font-family) !important;
    font-weight: 400 !important;
}



@media (min-width: 1025px) {
    .site form.checkout #order_review_heading {
        float: none;
        width: 100%;
        padding-left: 0;
    }

    .site form.checkout .woocommerce-checkout-review-order {
        width: 100%;
        padding-left: 0;
        float: none;
    }
}

@media (min-width: 768px) {
    .site .woocommerce ul.woocommerce-order-overview.woocommerce-thankyou-order-details {
        margin-top: 120px;
        padding-top: 80px;
        margin-bottom: 80px;
        padding-bottom: 80px;
    }

    .woocommerce-table--order-details.shop_table.order_details {
        margin-top: 50px;
    }

    .woocommerce table.shop_table tfoot tr.order-detail th,
    .woocommerce table.shop_table tfoot tr.order-detail td {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}