@tailwind base;
@tailwind components;
@tailwind utilities;

header.page-title {
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 10px;
}

h3 {
    letter-spacing: 3px;
}

p,
a {
    letter-spacing: 1.2px;
}

.homepage-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 24px;
}

.homepage-layout-item img {
    width: 100%;
    aspect-ratio: .75;
    object-fit: cover;
}

.homepage-layout-item {
    position: relative;
}

.homepage-layout-item a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.homepage-layout-content {
    position: absolute;
    bottom: 0;
    padding: 24px;
    color: #fff;
    width: 100%;
    letter-spacing: 1.6px;
}

.homepage-layout-content h3 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0;
    letter-spacing: 3px;
}

/* enable Flickity by default */
.mobile-slider:after {
    content: 'flickity';
    display: none;
    /* hide :after */
}

#nova .peer:checked~.group .peer-checked\:group\:bg-indigo-600 {
    background-color: #4F46E5;
    border: none;
}

#nova .peer:checked~.group .peer-checked\:group\:visible {
    display: block;
}

#nova .wcumcs-switcher-buttons.wcumcs-container li.wcumcs-list-item {
    display: block;
    float: none;
    transition: .3s cubic-bezier(.075, .82, .165, 1);
}

#nova .wcumcs-switcher-buttons.wcumcs-container li.wcumcs-list-item a {
    width: 18px;
    height: 18px;
    border-radius: 12px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    padding: 0;
}

#nova .wcumcs-switcher-buttons.wcumcs-container li.wcumcs-list-item a img {
    height: 100%;
}

#nova .wcumcs-list {
    display: inline-block;
    overflow: visible;
    padding-bottom: 14px;
    position: relative;
    margin-bottom: -16px;
    margin-left: 0;
}

#nova .wcumcs-switcher-buttons.wcumcs-container li.wcumcs-list-item:not(.selected) {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

#nova .wcumcs-switcher-buttons.wcumcs-container:hover li.wcumcs-list-item:not(.selected) {
    transform: translateY(24px);
    opacity: 1;
    pointer-events: auto;
}

@media (max-width: 767px) {
    .homepage-layout {
        display: block;
    }

    .homepage-layout-item {
        width: 70%;
        margin-right: 16px;
    }

    .homepage-layout-content h3 {
        font-size: 16px;
        letter-spacing: 1.6px;
    }

    .homepage-layout-content {
        letter-spacing: 1.2px;
    }
}

@media screen and (min-width: 768px) {

    /* disable Flickity for large devices */
    .mobile-slider:after {
        content: '';
    }
}